
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folders
*.cpp.o
*.cpp.o.d
**/CMakeFiles
**/build
KalmanFilter/SFND_Unscented_Kalman_Filter/build
*.bmp
!**/Results/SHITOMASI_BRIEF_MAT_FLANN_DES_BINARY_SEL_KNN/**
!**/Results_report_plots/*.png
pcl